<section class="contact-section">
  <div class="left">
    <p class="overline">Contact me</p>
    <h1>Let’s work<br />together</h1>
    <p class="lead">{{ "CONTACT.LEAD_TEXT" | translate }}</p>
    <p class="body">
      {{ "CONTACT.BODY_TEXT_PART1" | translate }}<br />
      {{ "CONTACT.BODY_TEXT_PART2" | translate }}
    </p>
    <p class="body">
      {{ "CONTACT.CALL_TO_ACTION_PART1" | translate }}
      <span class="highlight">{{
        "CONTACT.CALL_TO_ACTION_HIGHLIGHT" | translate
      }}</span>
    </p>
  </div>

  <div class="right">
    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" novalidate>
      <div class="input-group">
        <label>
          {{ "CONTACT.FORM.NAME_LABEL" | translate }}
          <input
            name="name"
            type="text"
            [placeholder]="'CONTACT.FORM.NAME_PLACEHOLDER' | translate"
            [(ngModel)]="contactData.name"
            #nameCtrl="ngModel"
            required
          />
        </label>
        <p
          class="error"
          *ngIf="nameCtrl.invalid && (nameCtrl.touched || formSubmitted)"
        >
          {{ "CONTACT.FORM.NAME_REQUIRED_ERROR" | translate }}
        </p>
      </div>

      <div class="input-group">
        <label>
          {{ "CONTACT.FORM.EMAIL_LABEL" | translate }}
          <input
            name="email"
            type="text"
            [placeholder]="'CONTACT.FORM.EMAIL_PLACEHOLDER' | translate"
            [(ngModel)]="contactData.email"
            #emailCtrl="ngModel"
            required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            email
          />
        </label>
        <p
          class="error"
          *ngIf="emailCtrl.errors?.['required'] && (emailCtrl.touched || formSubmitted)"
        >
          {{ "CONTACT.FORM.EMAIL_REQUIRED_ERROR" | translate }}
        </p>
        <p
          class="error"
          *ngIf="emailCtrl.errors?.['pattern'] && (emailCtrl.touched || formSubmitted)"
        >
          {{ "CONTACT.FORM.EMAIL_INVALID_ERROR" | translate }}
        </p>
      </div>

      <div class="input-group">
        <label>
          {{ "CONTACT.FORM.MESSAGE_LABEL" | translate }}
          <textarea
            name="message"
            [placeholder]="'CONTACT.FORM.MESSAGE_PLACEHOLDER' | translate"
            [(ngModel)]="contactData.message"
            #msgCtrl="ngModel"
            required
          ></textarea>
        </label>
        <p
          class="error"
          *ngIf="msgCtrl.invalid && (msgCtrl.touched || formSubmitted)"
        >
          {{ "CONTACT.FORM.MESSAGE_REQUIRED_ERROR" | translate }}
        </p>
      </div>

      <div class="checkbox-group">
        <div>
          <input
            type="checkbox"
            id="privacy"
            name="privacy"
            [(ngModel)]="contactData.privacyChecked"
            #privacyCtrl="ngModel"
            required
          />
          <label for="privacy">
            {{ "CONTACT.FORM.PRIVACY_CONSENT_PART1" | translate }}
            <a class="privacy-policy" routerLink="/privacy-policy">
              {{ "CONTACT.FORM.PRIVACY_CONSENT_LINK_TEXT" | translate }}
            </a>
            {{ "CONTACT.FORM.PRIVACY_CONSENT_PART2" | translate }}
          </label>
        </div>
        <p
          class="error"
          *ngIf="privacyCtrl.invalid && (privacyCtrl.touched || formSubmitted)"
        >
          {{ "CONTACT.FORM.PRIVACY_CONSENT_ERROR" | translate }}
        </p>
      </div>
      <div class="feedback">
        <button
          type="submit"
          [class.button-sliding-text]="contactForm.valid"
          [class.disabled]="!contactForm.valid"
          [class.loading]="isLoading"
        >
          <ng-container *ngIf="!isLoading; else loadingTpl">
            <span class="slide-container">{{
              "CONTACT.FORM.SUBMIT_BUTTON_TEXT" | translate
            }}</span>
          </ng-container>
          <ng-template #loadingTpl>
            <div class="button-spinner"></div>
          </ng-template>
        </button>
        <div *ngIf="!isLoading && mailSent" class="success-message">
          <p>{{ "CONTACT.FORM.SUCCESS_MESSAGE" | translate }}</p>
        </div>
        <div *ngIf="!isLoading && mailError" class="error-message">
          <p>{{ "CONTACT.FORM.ERROR_MESSAGE" | translate }}</p>
        </div>
      </div>
    </form>
  </div>
</section>
