<section id="projects" class="projects-section">
  <p class="projects-label">Portfolio</p>
  <h2 class="projects-title">Featured Projects</h2>
  <p class="projects-desc">
    Explore a selection of my work here – interact with each project to see my
    skills in action.
  </p>
  <div #projectsContainer class="projects-container">
    <!-- Linke Seite: Liste -->
    <div class="project-list">
      <div
        class="project-row"
        #row1
        (mouseenter)="onHoverPreview(row1, 'assets/img/projects (4).png')"
        (mouseleave)="onLeavePreview()"
      >
        <span class="project-name"
          >JOIN
          <img
            class="arrow-icon"
            src="../../../assets/icons/arrow_outward.svg"
            alt="Arrow"
          />
        </span>

        <span class="project-tech">
          Angular<span class="sep">|</span>TypeScript<span class="sep">|</span
          >HTML<span class="sep">|</span>CSS<span class="sep">|</span>Firebase
        </span>
      </div>

      <div
        class="project-row"
        #row2
        (mouseenter)="onHoverPreview(row2, 'assets/img/projects (3).png')"
        (mouseleave)="onLeavePreview()"
      >
        <span class="project-name"
          >EL POLLO LOCO
          <img
            class="arrow-icon"
            src="../../../assets/icons/arrow_outward.svg"
            alt="Arrow"
          />
        </span>
        <span class="project-tech">
          HTML<span class="sep">|</span>CSS<span class="sep">|</span>JavaScript
        </span>
      </div>

      <div
        class="project-row"
        #row3
        (mouseenter)="onHoverPreview(row3, 'assets/img/projects (1).png')"
        (mouseleave)="onLeavePreview()"
      >
        <span class="project-name"
          >BESTELL APP
          <img
            class="arrow-icon"
            src="../../../assets/icons/arrow_outward.svg"
            alt="Arrow"
          />
        </span>
        <span class="project-tech">
          HTML<span class="sep">|</span>CSS<span class="sep">|</span>JavaScript
        </span>
      </div>
    </div>

    <!-- Rechte Seite: Vorschaubild -->
    <div
      #projectPreview
      class="project-preview"
      [class.visible]="previewSrc"
      [style.top.px]="previewTop"
    >
      <div class="preview-bg"></div>
      <img
        *ngIf="previewSrc"
        class="preview-img"
        [src]="previewSrc"
        alt="Project preview"
      />
    </div>
  </div>
</section>
