<section id="projects">
  <div class="projects-content">
    <p class="projects-label">Portfolio</p>
    <h2 class="projects-title">Featured Projects</h2>
    <p class="projects-desc">
      {{ "PROJECTS.DESCRIPTION_INTRO" | translate }}
    </p>
    <div #projectsContainer class="projects-container">
      <div class="project-list">
        <div
          *ngFor="let p of projects; let i = index"
          class="project-row"
          #rowEl
          (mouseenter)="onHoverPreview(rowEl, p.image)"
          (mouseleave)="onLeavePreview()"
          (click)="openPreview(i)"
        >
          <span class="project-name">
            {{ p.name }}
            <img
              class="arrow-icon"
              src="assets/icons/arrow_outward.svg"
              alt="{{ 'PROJECTS.ARROW_ICON_ALT' | translate }}"
            />
          </span>
          <span class="project-tech">
            <ng-container *ngFor="let techItem of p.tech; let last = last">
              {{ techItem.name }}<span *ngIf="!last" class="sep">|</span>
            </ng-container>
          </span>
        </div>
      </div>

      <div
        #projectPreview
        class="project-preview"
        [class.visible]="previewSrc"
        [style.top.px]="previewTop"
      >
        <div class="preview-bg"></div>
        <img
          *ngIf="previewSrc"
          class="preview-img"
          [src]="previewSrc"
          alt="{{ 'PROJECTS.PREVIEW_IMAGE_ALT' | translate }}"
        />
      </div>
    </div>

    <app-project-preview
      [project]="activeProject!"
      [isOpen]="activeProject != null"
      [close]="closePreview.bind(this)"
      [next]="nextPreview.bind(this)"
    ></app-project-preview>
  </div>
</section>
