.project-modal {
  position: fixed;
  inset: 0;                    
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  overflow: hidden;
   
  .modal-backdrop {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
  }

  .modal-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 80px;
    width: 90%;
    max-width: 1300px;
    aspect-ratio: 1248 / 656;
    background-image: url('../../../../assets/img/landingPageBackground.png');
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    border: 1px solid;
    border-color: rgba(61, 207, 182, 1);
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
    .mobilePreview{
      margin-top: 40px;
      display: none;
    }
    .modal-close-mobile{
      display: none;
      background: transparent;
      border: none;
      cursor: pointer;
      z-index: 1;
      width: 18px !important;
      .cross-icon{
        display: flex;
        height: 18px;
        width: 18px;
        background-color: transparent;
        background-image: url('../../../../assets/icons/close_small.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    /* Linke Spalte */
    .modal-text {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0;
      color: white;
      display: flex;
      flex-direction: column;

      .modal-index {
        font-family: 'Karla';
        font-size: 128px;
        font-weight: 700;
        line-height: 100px;
        color: #3DCFB6;
        margin: 0;
      }

      .modal-name {
        font-family: 'Fira Code';
        font-size: 64px;
        font-weight: 700;
        line-height: 80%;
        color: white;
        margin: 8px 0 0 0;
      }

      .modal-subtitle {
        font-family: 'Fira Code';
        font-size: 24px;
        font-weight: 700;
        color: #3DCFB6;
        margin: 40px 0 0 0;
      }

      .modal-description {
        font-family: 'Karla';
        font-size: 18px;
        font-weight: 400;
        color: white;
        margin: 20px 0 0 0;
        max-width: 500px;
        line-height: 120%;
      }

      .modal-tech {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        margin: 32px 0 0 0;

        img {
          width: 24px;
          height: 24px;
        }
        span {
          font-family: 'Karla';
          font-size: 16px;
          font-weight: 400;
          color: white;
        }
      }

      .tech-item{
        gap: 4px;
        flex-shrink: 0;
        display: flex;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
      }

      .modal-actions {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 24px;
        margin: 40px 0 0 0;
        >button{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;
          > img{
            height: 12px;
            width: 12px;
            position: relative;
            top: -1px;
            transform: rotate(-45deg);
            transition: transform 0.1s ease;
          }   
          &:hover > img {
            transform: translate(3px, -2px) rotate(-45deg);
          }
        }
      }
    }

    /* Rechte Spalte */
    .modal-preview {
      position: relative;
      flex: 0 0 45%;
      max-width: 55%;
      position: relative;
      display: flex;
      gap: 48px;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      .modal-close {
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 1;
        width: 18px !important;
        display: inline-block;
        .cross-icon{
          display: flex;
          height: 18px;
          width: 18px;
          background-color: transparent;
          background-image: url('../../../../assets/icons/close_small.svg');
          transition: background-image 0.2s ease-in-out, transform 0.2s ease;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
        &:hover .cross-icon{
          transform: scale(1.5);
          background-image: url('../../../../assets/icons/close_turquoise.svg');
        }
      }

      .desktopPreview{
        display: flex;
      }
  
      .preview-img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 16px;
      }

      >button.preview-next {
        background: transparent;
        border: none;
        font-family: 'Karla';
        font-size: 18px;
        color: #3DCFB6;
        display: flex;
        align-items: center;
        justify-content: center;     
        gap: 8px;
        cursor: pointer;
        >img.arrowForward{
          height: 18px;
          width: 18px;
          position: relative;
          transition: transform 0.1s ease;

        }
        &:hover {
          color: white;
          >img{
            transform: translate(6px);
          }
        }
      }
    }
  }
}

@media (pointer: coarse) and (hover: none){
  .project-modal .modal-content .modal-preview{
    >button.preview-next{
      &:hover{
        color: #3DCFB6;
        >img{
          transform: translate(0px);
        }
      }
    }
  }
}
  
@import './project-preview.component.responsive.scss';

