<div class="project-modal" *ngIf="isOpen">
  <div class="modal-backdrop" (click)="close()"></div>
  <div class="modal-content">
    <button class="modal-close-mobile" (click)="close()">
      <span class="cross-icon"></span>
    </button>
    <img
      class="mobilePreview"
      [src]="project.image"
      alt="{{ project.name | translate }} {{
        'PROJECTS.MODAL_PREVIEW_ALT' | translate
      }}"
    />
    <div class="modal-text">
      <p class="modal-index">{{ project.index | number : "2.0" }}</p>
      <h1 class="modal-name">{{ project.name }}</h1>
      <h3 class="modal-subtitle">
        {{ "PROJECTS.MODAL_SUBTITLE" | translate }}
      </h3>
      <p class="modal-description">{{ project.description }}</p>
      <div class="modal-tech">
        <div class="tech-item" *ngFor="let t of project.tech">
          <img [src]="t.icon" [alt]="t.name" width="24" height="24" />
          <span>{{ t.name }}</span>
        </div>
      </div>
      <div class="modal-actions">
        <button>
          <a [href]="'https://github.com/ceciliadiesch'" target="_blank">{{
            "PROJECTS.MODAL_BUTTON_GITHUB" | translate
          }}</a>
          <img
            src="assets/icons/arrow_forward.svg"
            alt="{{ 'PROJECTS.ARROW_FORWARD_ALT' | translate }}"
          />
        </button>
        <button>
          <a [href]="project.live" target="_blank">{{
            "PROJECTS.MODAL_BUTTON_LIVE_TEST" | translate
          }}</a>
          <img
            src="assets/icons/arrow_forward.svg"
            alt="{{ 'PROJECTS.ARROW_FORWARD_ALT' | translate }}"
          />
        </button>
      </div>
    </div>

    <div class="modal-preview">
      <button class="modal-close" (click)="close()">
        <span class="cross-icon"></span>
      </button>
      <img
        class="preview-img desktopPreview"
        [src]="project.image"
        alt="{{ project.name | translate }} {{
          'PROJECTS.MODAL_PREVIEW_ALT' | translate
        }}"
      />
      <button class="preview-next" (click)="next()">
        {{ "PROJECTS.MODAL_BUTTON_NEXT_PROJECT" | translate }}
        <img
          class="arrowForward"
          src="assets/icons/arrow_forward_turquoise.svg"
          alt="{{ 'PROJECTS.ARROW_FORWARD_ALT' | translate }}"
        />
      </button>
    </div>
  </div>
</div>
