<section id="about" class="about-section">
  <div class="about-content">
    <!-- Linke Seite: Bild mit Pattern -->
    <div class="about-image">
      <div class="pattern"></div>
      <img src="assets/img/C_Diesch1.png" alt="About me photo" />
    </div>

    <!-- Rechte Seite: Textbox -->
    <div class="about-text">
      <p class="section-subtitle">Who I Am</p>
      <div class="about-box">
        <h2>About me</h2>
        <p class="blockText">
          {{ "ABOUT_ME.MAIN_TEXT" | translate }}
        </p>

        <div class="info-item">
          <img src="../../../assets/icons/map.svg" alt="Location icon" />
          <p>
            {{ "ABOUT_ME.LOCATION_TEXT" | translate }}
          </p>
        </div>

        <div class="info-item">
          <img src="assets/icons/education.svg" alt="Learning icon" />
          <p>
            {{ "ABOUT_ME.EDUCATION_TEXT" | translate }}
          </p>
        </div>

        <div class="info-item">
          <img src="assets/icons/solve.svg" alt="Problem icon" />
          <p>
            {{ "ABOUT_ME.PROBLEM_SOLVING_TEXT" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
