<section id="about" class="about-section">
  <div class="about-content">
    <!-- Linke Seite: Bild mit Pattern -->
    <div class="about-image">
      <div class="pattern"></div>
      <img src="assets/img/C_Diesch2.jpg" alt="About me photo" />
    </div>

    <!-- Rechte Seite: Textbox -->
    <div class="about-text">
      <p class="section-subtitle">Who I Am</p>
      <div class="about-box">
        <h2>About me</h2>
        <p>
          I love IT because it lets me solve real-world problems with code.
          Building apps from scratch gives me the sense of accomplishment. I'm
          driven by curiosity and the joy of making something that really works.
        </p>

        <div class="info-item">
          <img src="../../../assets/icons/map.svg" alt="Location icon" />
          <p>
            I am based in Berlin and Dresden and am more than open to remote
            work.
          </p>
        </div>

        <div class="info-item">
          <img src="assets/icons/education.svg" alt="Learning icon" />
          <p>
            I’m passionate about lifelong learning—always exploring new
            technologies and learning new skills.
          </p>
        </div>

        <div class="info-item">
          <img src="assets/icons/solve.svg" alt="Problem icon" />
          <p>
            I tackle challenges step by step: during my Physics studies I solved
            complex problems with persistence and analytical thinking.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
