.about-section {
  background-color: rgb(28, 28, 28);
  margin: 0;
  display: flex;
  justify-content: center;
  
  .about-content {
    display: flex;
    justify-content: space-between;
    gap: 96px;
    width: 95%;

    .about-image {
      width: 100%;
      max-width: 414px;   
      position: relative;
      align-self: flex-start;
      border-radius: 30px;

      img {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        transition: transform 0.3s ease;
      }

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url('../../../assets/img/imgPattern.png');
        background-size: cover;
        background-position: center;
        opacity: 0;
        transition: opacity 0.1s ease;
        z-index: 0;
        pointer-events: none;
      }
    
      &:hover::before {
        opacity: 1;
      }

      &:hover img {
        transform: translate(12px, -12px);
      }
    }

    .about-text {
      margin-top: 98px;
      display: flex;
      flex-direction: column;

      .section-subtitle {
        text-align: left;
        font-family: 'Karla', sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: #3DCFB6;
        margin-bottom: 16px;
      }

      .about-box {
        width: 100%;
        max-width: 800px;
        border: 1px solid #3DCFB6;
        background: #3DCFB61A;
        border-radius: 30px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        h2 {
          font-family: 'Fira Code', monospace;
          font-size: 64px;
          font-weight: 700;
          color: #3DCFB6;
          margin: 0;
        }

        p {
          font-family: 'Karla', sans-serif;
          font-size: 18px;
          font-weight: 400;
          color: white;
          line-height: 120%;
          margin: 0;
        }

        .blockText{
          text-align: justify;
        }

        .info-item {
          display: flex;
          align-items: flex-start;
          gap: 16px;

          img {
            width: 32px;
            height: 32px;
            flex-shrink: 0;
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }

  @media (min-width: 1000px) and (max-width: 1500px) {
    .about-content .about-image{
      width: 60%;
    }
  }

  @media (min-width: 760px) and (max-width: 1000px) {
    .about-content {
      gap: 48px;
      
      .about-image{
        width: 50%;
      }
    } 
  }

  @media (max-width: 760px) {
    .about-content {
      flex-direction: column;
      align-items: center;
      gap: 40px;
      width: 100%;

      .about-image{
        max-width: 50%;
        align-self: center;
        &:hover::before {
          opacity: 0;
        }

        img {
          width: 100%;
          height: auto;
          &:hover {
            transform: translate(0, 0);
          }
        }
      }

      .about-text {
        width: 100%;
        align-self: center;
        margin-top: 0;

        .about-box {
          padding: 24px;

          h2{
            font-size: 48px;
          }

          p{
            font-size: 16px;
          }
        }
      }
    }
  }

  @media (max-width: 550px) {
    .about-content .about-image{
      max-width: 100%;
      width: 100%;
    }
  }

  @media (max-width: 1000px) and (orientation: landscape) and (pointer: coarse) and (hover: none){
    .about-image {
      align-self: center !important; 
      width: auto !important;
      height: 95vh !important;

      .pattern {
        width: auto !important;
        max-height: 100% !important;
      }

      img {
        width: auto !important;
        max-height: 100% !important;
      }
    }
  }
}