.appContainer{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.static-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    overflow: hidden;
  }

  app-footer {
    flex-shrink: 0;
  }
}
  
.scroll-layout {
  min-height: 100vh;
  max-width: 100vw;

  main {
    overflow: auto;
  }

  app-footer {
    margin-top: 48px;
  }
}
  