<section id="skill" class="skill-section">
  <div class="technologies-content">
    <div class="tech-text-box">
      <p class="tech-section-title">{{ "SKILLS.SECTION_TITLE" | translate }}</p>
      <div class="skill-box">
        <h2 class="skill-title">{{ "SKILLS.TITLE" | translate }}</h2>
        <p class="skill-desc">
          {{ "SKILLS.DESCRIPTION" | translate }}
        </p>
        <p class="skill-cta">
          <span class="cta-normal">{{ "SKILLS.CTA_NORMAL" | translate }} </span>
          <span class="cta-highlight">{{
            "SKILLS.CTA_HIGHLIGHT" | translate
          }}</span>
        </p>
        <p class="skill-note">
          {{ "SKILLS.NOTE" | translate }}
        </p>
        <a href="#contact">
          <button class="button-sliding-text">
            <span class="slide-container">{{
              "SKILLS.BUTTON_TEXT" | translate
            }}</span>
          </button></a
        >
      </div>
    </div>

    <div class="tech-icons">
      <div class="tech-icon">
        <img
          src="../../../assets/icons/frontend/HTML.svg"
          alt="{{ 'SKILLS.ICON_HTML_ALT' | translate }}"
        />
        <span>{{ "SKILLS.ICON_HTML_LABEL" | translate }}</span>
      </div>
      <div class="tech-icon">
        <img
          src="../../../assets/icons/frontend/CSS.svg"
          alt="{{ 'SKILLS.ICON_CSS_ALT' | translate }}"
        />
        <span>{{ "SKILLS.ICON_CSS_LABEL" | translate }}</span>
      </div>
      <div class="tech-icon">
        <img
          src="../../../assets/icons/frontend/javaScript.svg"
          alt="{{ 'SKILLS.ICON_JAVASCRIPT_ALT' | translate }}"
        />
        <span>{{ "SKILLS.ICON_JAVASCRIPT_LABEL" | translate }}</span>
      </div>
      <div class="tech-icon">
        <img
          src="../../../assets/icons/frontend/angular.svg"
          alt="{{ 'SKILLS.ICON_ANGULAR_ALT' | translate }}"
        />
        <span>{{ "SKILLS.ICON_ANGULAR_LABEL" | translate }}</span>
      </div>
      <div class="tech-icon">
        <img
          src="../../../assets/icons/frontend/typeScript.svg"
          alt="{{ 'SKILLS.ICON_TYPESCRIPT_ALT' | translate }}"
        />
        <span>{{ "SKILLS.ICON_TYPESCRIPT_LABEL" | translate }}</span>
      </div>
      <div class="tech-icon">
        <img
          src="../../../assets/icons/frontend/firebase.svg"
          alt="{{ 'SKILLS.ICON_FIREBASE_ALT' | translate }}"
        />
        <span>{{ "SKILLS.ICON_FIREBASE_LABEL" | translate }}</span>
      </div>
      <div class="tech-icon">
        <img
          src="../../../assets/icons/frontend/git.svg"
          alt="{{ 'SKILLS.ICON_GIT_ALT' | translate }}"
        />
        <span>{{ "SKILLS.ICON_GIT_LABEL" | translate }}</span>
      </div>
      <div class="tech-icon">
        <img
          src="../../../assets/icons/frontend/scrum.svg"
          alt="{{ 'SKILLS.ICON_SCRUM_ALT' | translate }}"
        />
        <span>{{ "SKILLS.ICON_SCRUM_LABEL" | translate }}</span>
      </div>
      <div class="tech-icon">
        <img
          src="../../../assets/icons/frontend/restApi.svg"
          alt="{{ 'SKILLS.ICON_RESTAPI_ALT' | translate }}"
        />
        <span>{{ "SKILLS.ICON_RESTAPI_LABEL" | translate }}</span>
      </div>
    </div>
  </div>
</section>
