<div class="wrapper">
  <div class="content">
    <div class="div-Nav"><app-nav-bar></app-nav-bar></div>
    <h1>{{ "PRIVACY_POLICY.TITLE" | translate }}</h1>
    <p>
      {{ "PRIVACY_POLICY.RESPONSIBLE_PARTY_INTRO" | translate }}
    </p>
    <p>Cecilia Diesch</p>
    <h2>{{ "PRIVACY_POLICY.YOUR_RIGHTS_TITLE" | translate }}</h2>
    <p>
      {{ "PRIVACY_POLICY.YOUR_RIGHTS_INTRO" | translate }}
    </p>
    <ul>
      <li>{{ "PRIVACY_POLICY.RIGHTS_ITEM1" | translate }}</li>
      <li>{{ "PRIVACY_POLICY.RIGHTS_ITEM2" | translate }}</li>
      <li>{{ "PRIVACY_POLICY.RIGHTS_ITEM3" | translate }}</li>
      <li>{{ "PRIVACY_POLICY.RIGHTS_ITEM4" | translate }}</li>
      <li>{{ "PRIVACY_POLICY.RIGHTS_ITEM5" | translate }}</li>
      <li>{{ "PRIVACY_POLICY.RIGHTS_ITEM6" | translate }}</li>
    </ul>
    <p>
      {{ "PRIVACY_POLICY.CONSENT_REVOCATION" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.COMPLAINT_AUTHORITY" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.AUTHORITY_LIST_INTRO" | translate }}
      <a
        href="https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html"
        target="_blank"
        rel="noopener nofollow"
        >{{ "PRIVACY_POLICY.AUTHORITY_LIST_LINK_TEXT" | translate }}</a
      >.
    </p>
    <p></p>
    <h2>{{ "PRIVACY_POLICY.GENERAL_INFO_TITLE" | translate }}</h2>
    <h3>{{ "PRIVACY_POLICY.GENERAL_INFO_TYPE_PURPOSE_TITLE" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.GENERAL_INFO_PARAGRAPH1" | translate }}
    </p>
    <p>{{ "PRIVACY_POLICY.GENERAL_INFO_PARAGRAPH2" | translate }}</p>
    <ul>
      <li>{{ "PRIVACY_POLICY.GENERAL_INFO_ITEM1" | translate }}</li>
      <li>{{ "PRIVACY_POLICY.GENERAL_INFO_ITEM2" | translate }}</li>
      <li>{{ "PRIVACY_POLICY.GENERAL_INFO_ITEM3" | translate }}</li>
      <li>{{ "PRIVACY_POLICY.GENERAL_INFO_ITEM4" | translate }}</li>
    </ul>
    <p>
      {{ "PRIVACY_POLICY.GENERAL_INFO_PARAGRAPH3" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.GENERAL_INFO_LEGAL_BASIS_TITLE" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.GENERAL_INFO_LEGAL_BASIS_PARAGRAPH1" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.GENERAL_INFO_RECIPIENT_TITLE" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.GENERAL_INFO_RECIPIENT_PARAGRAPH1" | translate }}
    </p>
    <p></p>
    <h3>
      {{ "PRIVACY_POLICY.GENERAL_INFO_STORAGE_DURATION_TITLE" | translate }}
    </h3>
    <p>
      {{
        "PRIVACY_POLICY.GENERAL_INFO_STORAGE_DURATION_PARAGRAPH1" | translate
      }}
    </p>
    <p>
      {{
        "PRIVACY_POLICY.GENERAL_INFO_STORAGE_DURATION_PARAGRAPH2" | translate
      }}
    </p>
    <p></p>
    <h3>
      {{ "PRIVACY_POLICY.GENERAL_INFO_PROVISION_REQUIRED_TITLE" | translate }}
    </h3>
    <p>
      {{
        "PRIVACY_POLICY.GENERAL_INFO_PROVISION_REQUIRED_PARAGRAPH1" | translate
      }}
    </p>
    <p></p>

    <h2>{{ "PRIVACY_POLICY.CONTACT_FORM_TITLE" | translate }}</h2>
    <h3>{{ "PRIVACY_POLICY.CONTACT_FORM_TYPE_PURPOSE_TITLE" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.CONTACT_FORM_PARAGRAPH1" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.CONTACT_FORM_LEGAL_BASIS_TITLE" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.CONTACT_FORM_LEGAL_BASIS_PARAGRAPH1" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.CONTACT_FORM_LEGAL_BASIS_PARAGRAPH2" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.CONTACT_FORM_LEGAL_BASIS_PARAGRAPH3" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.CONTACT_FORM_RECIPIENT_TITLE" | translate }}</h3>
    <p>{{ "PRIVACY_POLICY.CONTACT_FORM_RECIPIENT_PARAGRAPH1" | translate }}</p>
    <p></p>
    <h3>
      {{ "PRIVACY_POLICY.CONTACT_FORM_STORAGE_DURATION_TITLE" | translate }}
    </h3>
    <p>
      {{
        "PRIVACY_POLICY.CONTACT_FORM_STORAGE_DURATION_PARAGRAPH1" | translate
      }}
    </p>
    <p>
      {{
        "PRIVACY_POLICY.CONTACT_FORM_STORAGE_DURATION_PARAGRAPH2" | translate
      }}
    </p>
    <h3>
      {{ "PRIVACY_POLICY.CONTACT_FORM_PROVISION_REQUIRED_TITLE" | translate }}
    </h3>
    <p>
      {{
        "PRIVACY_POLICY.CONTACT_FORM_PROVISION_REQUIRED_PARAGRAPH1" | translate
      }}
    </p>
    <p></p>

    <h2>{{ "PRIVACY_POLICY.GOOGLE_WEB_FONTS_TITLE" | translate }}</h2>
    <p>
      {{ "PRIVACY_POLICY.GOOGLE_WEB_FONTS_PARAGRAPH1" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.GOOGLE_WEB_FONTS_PARAGRAPH2_PART1" | translate }}
      <a
        href="https://developers.google.com/fonts/faq"
        rel="noopener nofollow"
        target="_blank"
        >{{ "PRIVACY_POLICY.GOOGLE_WEB_FONTS_LINK1_TEXT" | translate }}</a
      >
      {{ "PRIVACY_POLICY.GOOGLE_WEB_FONTS_PARAGRAPH2_PART2" | translate }}
      <a
        href="https://www.google.com/policies/privacy/"
        rel="noopener nofollow"
        target="_blank"
        >{{ "PRIVACY_POLICY.GOOGLE_WEB_FONTS_LINK2_TEXT" | translate }}</a
      >.
    </p>
    <p></p>

    <h2>{{ "PRIVACY_POLICY.GOOGLE_MAPS_TITLE" | translate }}</h2>
    <p>
      {{ "PRIVACY_POLICY.GOOGLE_MAPS_PARAGRAPH1_PART1" | translate }}<br />
      {{ "PRIVACY_POLICY.GOOGLE_MAPS_PARAGRAPH1_PART2" | translate }}
      <a
        href="https://policies.google.com/privacy"
        rel="noopener nofollow"
        target="_blank"
        >{{ "PRIVACY_POLICY.GOOGLE_MAPS_LINK1_TEXT" | translate }}</a
      >.
      {{ "PRIVACY_POLICY.GOOGLE_MAPS_PARAGRAPH1_PART3" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.GOOGLE_MAPS_PARAGRAPH2_PART1" | translate }}
      <a
        href="https://www.dataliberation.org/"
        rel="noopener nofollow"
        target="_blank"
        >{{ "PRIVACY_POLICY.GOOGLE_MAPS_LINK2_TEXT" | translate }}</a
      >
    </p>
    <p>
      {{ "PRIVACY_POLICY.GOOGLE_MAPS_PARAGRAPH3" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.GOOGLE_MAPS_PARAGRAPH4" | translate }}
    </p>
    <h3>
      {{ "PRIVACY_POLICY.GOOGLE_MAPS_CONSENT_REVOCATION_TITLE" | translate }}
    </h3>
    <p>
      {{
        "PRIVACY_POLICY.GOOGLE_MAPS_CONSENT_REVOCATION_PARAGRAPH1" | translate
      }}
    </p>
    <p></p>

    <h2>{{ "PRIVACY_POLICY.SSL_ENCRYPTION_TITLE" | translate }}</h2>
    <p>
      {{ "PRIVACY_POLICY.SSL_ENCRYPTION_PARAGRAPH1" | translate }}
    </p>
    <p></p>
    <hr />

    <h2>{{ "PRIVACY_POLICY.RIGHT_TO_OBJECT_TITLE" | translate }}</h2>
    <h3>{{ "PRIVACY_POLICY.RIGHT_TO_OBJECT_INDIVIDUAL_TITLE" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.RIGHT_TO_OBJECT_PARAGRAPH1" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.RIGHT_TO_OBJECT_PARAGRAPH2" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.RIGHT_TO_OBJECT_RECIPIENT_TITLE" | translate }}</h3>
    <p>Cecilia Diesch</p>
    <hr />

    <h2>{{ "PRIVACY_POLICY.CHANGES_TITLE" | translate }}</h2>
    <p>
      {{ "PRIVACY_POLICY.CHANGES_PARAGRAPH1" | translate }}
    </p>

    <h2>{{ "PRIVACY_POLICY.QUESTIONS_TITLE" | translate }}</h2>
    <p>
      {{ "PRIVACY_POLICY.QUESTIONS_PARAGRAPH1" | translate }}
    </p>
    <p></p>
    <p>
      <em>
        {{ "PRIVACY_POLICY.FOOTNOTE_PART1" | translate }}
        <a
          href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/"
          target="_blank"
          rel="noopener"
          >{{ "PRIVACY_POLICY.FOOTNOTE_LINK_TEXT" | translate }}</a
        >
        {{ "PRIVACY_POLICY.FOOTNOTE_PART2" | translate }}</em
      >
    </p>

    <button
      class="imprintButtonBack button-sliding-text"
      onclick="window.history.back()"
    >
      <span class="slide-container">←</span>
    </button>
  </div>
</div>
