.main-Section{
    min-height: 100vh;
    overflow-y: auto;
    width: 100%;  
    max-width: 1800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 !important;
    > * {
        display: block;  /* custom Elemente sind standardmäßig inline */
        width: 100%;
      }
}

      // ─── Responsive für Mobile ────────────────────────────────────
      @media (min-width: 1200px) and (max-width: 1400px) {
        .main-Section{
            padding: 0 !important;
        }
  
    }
  
    @media (max-width: 1200px) {
        .main-Section{
            padding: 0 !important;
        }
        }
        
    @media (max-width: 768px) {
        .main-Section{
            padding: 0 !important;
        }
  
    }