.footer-section{
  padding-bottom: 46px !important;
  padding-top: 46px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  background: rgb(28, 28, 28);
  width: 100vw;
  max-width: 1440px;
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;

  .logoDiv{
    display: flex;
    flex-direction: row;
    gap: 4px !important;
    >img{
        height: 48px;
    }
  }
}

.copyright-symbol {
  font-size: 0.9rem;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3%;
}

.middle{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(61, 207, 182, 1);
  gap: 12px;
}

.right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  gap: 8px;
  
  a {
    position: relative;
    text-decoration: none;
    color: white;
    cursor: pointer;
    .icon {
      display: none;
      height: 24px;
      width: 24px;
    }

    .link-text {
      display: block;
    }
  
    &:hover {
      color: #39c4b4;
  
      &::before {
        content: '•';    
        position: absolute;
        left: -16px;      
        top: 50%;
        transform: translateY(-50%);
        color: #39c4b4;       
        font-size: 2rem;       
        line-height: 1;
      }
    }

    @media (pointer: coarse) and (hover: none){
      &:hover {
        color: white;
    
        &::before {
          content: '';
        }
      }
    }
  }
}

@media (max-width: 1500px){
  
  .footer-section{
  transform: translateX(0px);
  }
}

@media (max-width: 1370px) and (orientation: landscape){

  .footer-section{
    padding-bottom: 16px !important;
    padding-top: 8px !important;
    font-size:16px;
  }

  .left{
    gap: 12px;
    .logoDiv{
      display: flex;
      flex-direction: row;
      gap: 3px !important;
      >img{
          height: 32px;
      }
    }
  }

  .right {
    gap: 2px;
  }
}

@media (max-width: 800px) and (orientation: landscape){
  .footer-section{
    padding-bottom: 8px !important;
    padding-top: 4px !important;
    font-size:16px;
  }
}

@media (max-height: 1000px) and (orientation: portrait){
  .footer-section{
    padding-bottom: 8px !important;
    padding-top: 8px !important;
    font-size:16px;
    gap: 16px;
  }

  .left{
    gap: 12px;
    .logoDiv{
      display: flex;
      flex-direction: row;
      gap: 3px !important;
      >img{
          height: 28px;
      }
    }
  }
}

@media (min-height: 1001px) and (max-width:600px){
  .footer-section{
    padding-bottom: 16px !important;
    padding-top: 16px !important;
    font-size:16px;
    gap: 14px;
  }

  .left{
    gap: 12px;
    .logoDiv{
      display: flex;
      flex-direction: row;
      gap: 3px !important;
      >img{
          height: 28px;
      }
    }
  }
}

@media (max-width: 600px), (max-height: 540px) and (max-width: 915px) {

  .footer-section{
    padding-bottom: 16px !important;
    padding-top: 16px !important;
  }

  .left {
    gap: 12px;
    .logoDiv {
      display: flex;
      flex-direction: row;
      gap: 3px !important;
      > img {
        height: 32px;
      }
    }
  }

  .column {
    display: none;
  }

  .middle {
    display: none;
  }

  .right {
    flex-direction: row;
    gap: 16px;
    
    a {
      .link-text {
        display: none;
      }

      .icon {
        display: block;
      }

      &:hover {
        color: white;
        &::before {
          content: '';
        }
      }
    }
  }
}
  