<div class="wrapper">
  <div class="content">
    <h1>{{ "LEGAL_NOTICE.TITLE" | translate }}</h1>

    <span>
      <h3>{{ "LEGAL_NOTICE.INFO_TITLE" | translate }}</h3>
      <br />
      Cecilia Diesch <br />
      Emdener Str 2<br />
      10555 Berlin <br />
    </span>
    <span>
      <h3>{{ "LEGAL_NOTICE.REPRESENTED_BY_TITLE" | translate }}</h3>
      <br />
      Cecilia Diesch<br />
    </span>
    <span>
      <h3>{{ "LEGAL_NOTICE.CONTACT_TITLE" | translate }}</h3>
      <br />
      {{ "LEGAL_NOTICE.PHONE" | translate }}<br />
      {{ "LEGAL_NOTICE.EMAIL_LABEL" | translate }}:
      <a href="mailto:cecilia-diesch@web.de">cecilia-diesch &#64; web.de</a
      ><br />
    </span>
    <button
      class="imprintButtonBack button-sliding-text"
      onclick="window.history.back()"
    >
      <span class="slide-container">←</span>
    </button>
  </div>
</div>
