<div class="wrapper">
  <section>
    <div class="content">
      <div class="div-Nav"><app-nav-bar></app-nav-bar></div>
      <h1>{{ "LEGAL_NOTICE.TITLE" | translate }}</h1>

      <span class="span1">
        <h3>{{ "LEGAL_NOTICE.INFO_TITLE" | translate }}</h3>
        Cecilia Diesch <br />
        Emdener Str 2<br />
        10555 Berlin <br />
      </span>
      <span class="span2">
        <h3>{{ "LEGAL_NOTICE.REPRESENTED_BY_TITLE" | translate }}</h3>
        Cecilia Diesch<br />
      </span>
      <span class="span3">
        <h3>{{ "LEGAL_NOTICE.CONTACT_TITLE" | translate }}</h3>
        {{ "LEGAL_NOTICE.PHONE" | translate }}<br />
        {{ "LEGAL_NOTICE.EMAIL_LABEL" | translate }}:
        <a href="mailto:cecilia-diesch@web.de">cecilia-diesch &#64; web.de</a
        ><br />
      </span>
      <button
        class="imprintButtonBack button-sliding-text"
        onclick="window.history.back()"
      >
        <span class="slide-container">←</span>
      </button>
    </div>
  </section>
</div>
