<div class="wrapper">
  <div class="content">
    <h1>Imprint</h1>

    <span>
      <h3>Information pursuant to § 5 TMG:</h3>
      <br />
      Cecilia Diesch <br />
      Essener Str 2<br />
      10555 Berlin <br />
    </span>
    <span>
      <h3>Represented by:</h3>
      <br />
      Cecilia Diesch<br />
    </span>
    <span>
      <h3>Contact:</h3>
      <br />
      Phone: +49 (0)176-30465596<br />
      E-Mail:
      <a href="mailto:cecilia-diesch@web.de">cecilia-diesch &#64; web.de</a
      ><br />
    </span>
    <button
      class="imprintButtonBack button-sliding-text"
      onclick="window.history.back()"
    >
      <span class="slide-container">←</span>
    </button>
  </div>
</div>
