<section id="reviews" class="review-section">
  <h2 class="review-title">{{ "REFERENCES.TITLE" | translate }}</h2>

  <div class="carousel-container">
    <div class="quote-icon-static">“</div>
    <div class="viewport">
      <ng-container *ngFor="let off of offsets; trackBy: trackByIndex">
        <div
          class="card"
          [ngClass]="{
            'off-prev': off === -2,
            prev: off === -1,
            active: off === 0,
            next: off === 1,
            'off-next': off === 2
          }"
        >
          <p class="text">{{ references[getIndex(off)].text }}</p>

          <div class="author">
            <hr class="review-divider" />
            <span class="name">{{ references[getIndex(off)].author }}</span>
            <span class="role">  – {{ references[getIndex(off)].role }}</span>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Controls & Dots -->
    <div class="controls">
      <!-- Korrektur für den prev-Button -->
      <button
        class="btn prev-btn"
        (click)="showPrev()"
        [attr.aria-label]="'REFERENCES.PREV_BUTTON_ARIA_LABEL' | translate"
      >
        <!-- <img src="../../../assets/icons/references/arrow_back_white.svg" /> -->
      </button>
      <ul class="dots">
        <!-- Korrektur für das li-Element -->
        <li
          *ngFor="let r of references; let i = index"
          [class.active]="i === activeIndex"
          (click)="activeIndex = i; rotateOffsetsForDirectSelect(i)"
          [attr.aria-label]="
            ('REFERENCES.DOT_ARIA_LABEL' | translate) + ' ' + (i + 1)
          "
        ></li>
      </ul>
      <!-- Korrektur für den next-Button -->
      <button
        class="btn next-btn"
        (click)="showNext()"
        [attr.aria-label]="'REFERENCES.NEXT_BUTTON_ARIA_LABEL' | translate"
      >
        <!-- <img src="../../../assets/icons/references/arrow_forward_white.svg" /> -->
      </button>
    </div>
  </div>
</section>
