<c-carousel [interval]="0" [wrap]="true">
  <c-carousel-indicators></c-carousel-indicators>
  <c-carousel-inner>
    <c-carousel-item
      class="item"
      *ngFor="let slide of slides; trackBy: trackByText"
    >
      <div class="reference-box">
        <p class="reference-text">{{ slide.text }}</p>
        <h5 class="reference-author">{{ slide.author }}</h5>
        <small class="reference-role">{{ slide.role }}</small>
      </div>
    </c-carousel-item>
  </c-carousel-inner>

  <!-- Controls bleiben, wir passen sie per CSS an -->
  <c-carousel-control direction="prev" caption="Previous"></c-carousel-control>
  <c-carousel-control direction="next" caption="Next"></c-carousel-control>
</c-carousel>
