<nav class="navbar">
  <div class="nav__links" [class.open]="isMenuOpen">
    <div role="menuitem">
      <button
        class="language-button"
        (click)="switchLanguage(currentLanguage === 'en' ? 'de' : 'en')"
        (mouseenter)="onEnter()"
        (mouseleave)="onLeave()"
        [attr.aria-label]="
          (currentLanguage === 'en'
            ? 'Sprache auf Deutsch ändern'
            : 'Change language to English'
          ) | translate
        "
      >
        <img
          [src]="getLanguageImageSrc()"
          alt="{{
            (currentLanguage === 'en' ? 'Englische Flagge' : 'Deutsche Flagge')
              | translate
          }}"
        />
      </button>
    </div>

    <div role="menuitem">
      <a href="#about-me" (click)="toggleMenu()">{{
        "NAV.ABOUT_ME" | translate
      }}</a>
    </div>
    <div role="menuitem">
      <a href="#skills" (click)="toggleMenu()">{{
        "NAV.SKILLS" | translate
      }}</a>
    </div>
    <div role="menuitem">
      <a href="#projects" (click)="toggleMenu()">{{
        "NAV.PROJECTS" | translate
      }}</a>
    </div>
  </div>

  <div class="logoDiv">
    <img
      class="initials"
      [src]="!isHover ? 'assets/logo/logoS.png' : 'assets/logo/logoTransS.png'"
      (mouseenter)="isHover = true"
      (mouseleave)="isHover = false"
      alt="Logo"
    />
    <img
      class="name"
      [src]="
        !isHover ? 'assets/logo/logoName.png' : 'assets/logo/logoNameTrans.png'
      "
      (mouseenter)="isHover = true"
      (mouseleave)="isHover = false"
      alt="Logo"
    />
  </div>
  <!-- Hamburger-Button -->
  <button
    class="burger"
    aria-label="Menü öffnen"
    [attr.aria-expanded]="isMenuOpen"
    (click)="toggleMenu()"
  >
    <span class="burger__line"></span>
    <span class="burger__line"></span>
    <span class="burger__line"></span>
  </button>
</nav>
