<nav>
  <div>
    <img
      [src]="isEngHover ? 'assets/img/eng.svg' : 'assets/img/engHover.svg'"
      (mouseenter)="isEngHover = true"
      (mouseleave)="isEngHover = false"
      alt="Logo"
    />
    <!-- <img
      [src]="isGerHover ? 'assets/img/ger.png' : 'assets/img/gerHover.png'"
      (mouseenter)="isGerHover = true"
      (mouseleave)="isGerHover = false"
      alt="Logo"
    /> -->
    <a href="#about">About me</a>
    <a href="#skills">Skills</a>
    <a href="#projects">Projects</a>
  </div>
  <div class="logoDiv">
    <img
      [src]="isHover ? 'assets/logo/logoS.png' : 'assets/logo/logoTransS.png'"
      (mouseenter)="isHover = true"
      (mouseleave)="isHover = false"
      alt="Logo"
    />
    <img
      [src]="
        isHover ? 'assets/logo/logoName.png' : 'assets/logo/logoNameTrans.png'
      "
      (mouseenter)="isHover = true"
      (mouseleave)="isHover = false"
      alt="Logo"
    />
  </div>
</nav>
