@import './../../../mixin.scss';

nav {
  @include dFlex($jc: space-between);
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 100%;

  >div{
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Fira Code';

    .language-button {
      width: auto;
      height: auto;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      
      img {
        width: 100%;
        height: auto;
        border-radius: 3px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        transition: transform 0.2s ease-in-out;
      }
    }
      
    a {
      position: relative;
      display: inline-block;
      margin-top: 10px; 
      padding-bottom: 10px;   
      color: white;               
      text-decoration: none;
      transition: color 0.1s;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: rgba(61, 207, 182, 1);
        opacity: 0;
        transition: opacity 0.1s;
      }

      &:hover {
        color: rgba(61, 207, 182, 1);

        &::after {
          opacity: 1;
        }
      }
    }
  }

  .logoDiv{
    display: flex;
    flex-direction: row;
    gap: 4px !important;
    >img{
      height: 48px;
    }
  }

  .burger {
    display: none;
    flex-direction: column;
    gap: 0.7rem;
    background: none;
    border: none;
    cursor: pointer;
    width: 25px;
  }

  .burger__line {
    width: 25px;
    height: 1px;
    background: #fff;
  }
}


@media (max-width: 1020px){
  
  nav {
    .nav__links{
      display: none;
    }
  
    .burger {
      display: flex;
      padding-left: 0;
      width: 25px;
    }

    button{
      height: auto;
    }
  
    .nav__links {
      display: none;
      background: transparent;
      flex-direction: column;
      align-items: flex-end;
      max-height: 0;
      transition: max-height 0.3s ease-out;
      padding-top: 70px;
    }
  
    .nav__links.open {
      display: flex;
      min-height: fit-content;
      transition: max-height 0.3s ease-in;
      padding-bottom:10px;
    }
  
    .nav__links > div {
      width: 100%;
      height: 20px;
      a {
        font-size: 16px;
        display: block;
      }

      img {
        margin-top: 0;
        width: 64px;
        height: 36px;
      }
    }
  
    .name{
      display: none;
    }
  
    .initials{
      height: 32px;
    }
  } 
}

@media (max-width:1020px) and (min-width: 760px) and (min-height: 1020px) and (orientation: portrait){
  nav{
    .burger{
      gap: 12px;
      width: 50px;
    }
  
    .burger__line{
      width: 50px;
      height: 3px;
    }
  
    .nav__links.open{
      gap: 16px;
      >div a{
        font-size: 18px;
        padding-top: 8px;
      }
      >div img{
        margin-bottom: 0;
        width: 82px;
        height: 48px;
      }
    }

    .initials{
      height: 64px !important;
    }
  }
}


@media(min-height:1300px) and (min-width:1200px) {
  .logoDiv{
    >img{
      height: 48px !important;
    }
  }
}

@media(min-height:1300px) and (max-width:1200px) {
  .logoDiv{
    >img{
      height: 64px !important;
    }
  }
}

@media (max-height: 1000px) and (max-width: 1000px){
  nav{
    .burger{
      padding: 12px 0 0 0;
    }

    >div{
      gap: 8px;
    }
  } 
}
