@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

*{
    margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body{
  width: 100%;
  background-color: rgb(28, 28, 28);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

$turquoise: rgba(61, 207, 182, 1);

.column{
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: 'karla';
  font-size: 128px ;
  font-weight: 700;
  color: rgba(217, 217, 217, 1);
  text-align: center;
}

h2 {
    font-family: "Fira Code", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: rgba(217, 217, 217, 1);
}

h3 {
    font-family: "Fira Code", sans-serif;
  font-size: 56px;
  font-weight: 700;
}

.dish-info  {
  font-size: 32px;
  font-weight: bold;
}

.fontFiraCode {
font-family: "Fira Code", sans-serif;
}

.fontKarla{
    font-family: "Karla", sans-serif;
}

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/fira-code-v26-latin/fira-code-v26-latin-regular.woff2') format('woff2');
}
  
@font-face {
  font-display: swap; 
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/fira-code-v26-latin/fira-code-v26-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/karla-v31-latin/karla-v31-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/karla-v31-latin/karla-v31-latin-700.woff2') format('woff2');
}
  
section {
  width: 100%;
  padding: 145px 100px 0 100px;
  overflow-x: hidden;
  max-width: 1440px;
  display: flex;
  justify-content: center;
}


button{
  white-space: nowrap;
  font-family: 'Karla';
  font-weight: 400;
  font-size: 18px;
  width: 172px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid;
  gap: 10px;
  padding-top: 13px;
  padding-right: 24px;
  padding-bottom: 13px;
  padding-left: 24px;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.3s;
  color: white;
  &:hover {
    border-color: rgba(61, 207, 182, 1);
    color: rgba(61, 207, 182, 1);
  }
  &.disabled {
    opacity: 0.7;
    &:hover {
      border-color: white;
      color:white;
    }
  }
}


.button-sliding-text{
  overflow: hidden;
  .slide-container {
    display: inline-block;
    white-space: nowrap;
    transform: translateX(0);
    pointer-events: none;
  }
  &:hover .slide-container {
    animation: slideLeftOnly 3s linear infinite;
  }
}
    
@keyframes slideLeftOnly {
    0%   { transform: translateX(130%); }
    100% { transform: translateX(-130%); }
  }

html.modal-open, body.modal-open {
  overflow: hidden !important;
  height: 95vh !important;
  width: 95vw !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
  background: #2c2c2c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3DCFB6;
  border-radius: 10px;
  border: 2px solid #2c2c2c;
}

::-webkit-scrollbar-thumb:hover {
  background: lighten(#3DCFB6, 10%);
}

body::-webkit-scrollbar-thumb {
  background: rgba(61, 207, 182, 0.3);
  transition: background 0.3s ease;
}

body:hover::-webkit-scrollbar-thumb {
  background: rgba(61, 207, 182, 0.8);
}

@media (pointer: coarse) and (hover: none){
  button:hover{
    border-color: white;
    color: white;
  }

  .button-sliding-text:hover .slide-container{
    animation: none !important;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  section{
    padding: 75px 60px 12px 60px !important;
  }
}

@media (min-width: 770px) and (max-width: 1200px) {
  section{
    // transform: translateX(-1vw);
    padding: 70px 50px 12px 50px !important;
    // max-width: 95vw;
  }
}
    
@media (min-width: 520px) and (max-width: 770px) {
  section{
    padding: 60px 20px 12px 20px !important;
  }
}

@media (max-width: 520px) {
  section{
    padding: 60px 20px 12px 20px !important;
  }
}