@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;

}

*, *::before, *::after {
  box-sizing: border-box;
}

body{
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

}

html {
  scroll-behavior: smooth;
}

$dark_red: #9F0908;

a {
  text-decoration: none;
  color: white;
  &:hover{
    color: red;
}
}

h1 {
    font-family: 'karla';
  font-size: 128px ;
  font-weight: 700;
  color: rgba(217, 217, 217, 1);

}
h2 {
    font-family: "Fira Code", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: rgba(217, 217, 217, 1);
}
h3 {
    font-family: "Fira Code", sans-serif;
  font-size: 56px;
  font-weight: 700;
}

.dish-info  {
  font-size: 32px;
  font-weight: bold;
}

.fontFiraCode {
font-family: "Fira Code", sans-serif;
}

.fontKarla{
    font-family: "Karla", sans-serif;
}

/* fira-code-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/fira-code-v26-latin/fira-code-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* fira-code-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets/fonts/fira-code-v26-latin/fira-code-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* karla-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/karla-v31-latin/karla-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* karla-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets/fonts/karla-v31-latin/karla-v31-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  section {
    width: 100%;
    padding: 0 100px;
    overflow-x: hidden;
  }

  button{
    font-family: 'Karla';
    font-weight: 400;
    font-size: 18px;
    width: 172px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid;
    gap: 10px;
    padding-top: 13px;
    padding-right: 24px;
    padding-bottom: 13px;
    padding-left: 24px;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.3s;
    color: white;
    &:hover {
        border-color: rgba(61, 207, 182, 1);
        color: rgba(61, 207, 182, 1);
      }
      &.disabled {
        opacity: 0.7;
        &:hover {
          border-color: white;
          color:white;
        }
      }
  }

  .button-sliding-text{
    overflow: hidden;             /* Wörter, die aus der Box laufen, werden ausgeblendet */
      .slide-container {
        display: inline-block;
        white-space: nowrap;
        /* Anfangs: kein Transform, kein Animation */
        transform: translateX(0);
      }
    
      /* Nur beim Hover: Slide-Animation anhängen */
      &:hover .slide-container {
        animation: slideLeftOnly 4s linear infinite;
      }
    }
    
    @keyframes slideLeftOnly {
        0%   { transform: translateX(200%); }   /* startet rechts außerhalb */
        100% { transform: translateX(-200%); }  /* endet links außerhalb */
      }

          // ─── Responsive für Mobile ────────────────────────────────────
    @media (min-width: 1200px) and (max-width: 1400px) {
      section{
        padding: 0 40px !important;
      }

  }

  @media (max-width: 1200px) {
    section{
      padding: 0 20px;
    }
      }
      
  @media (max-width: 768px) {
    section{
      padding: 0 12px;
    }

  }